p {
    font-size: 400%;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 5%;
    font-size: 800%;
    color: black;
    
}

.search {
    border-radius: 20px;
    text-align: center;
    margin-top: 8px;
}

.search input {
    margin-right: 1%;
    min-width: 20%;
}

section {
    display: table;
}

.example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.example-button-row {
    display: table-cell;
    max-width: 600px;
}

